In [1]:
import pandas as pd
import numpy as numpy
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [2]:
df = pd.read_csv("C:/Users/ARUN/Downloads/Fake.csv")
df1 = pd.read_csv("C:/Users/ARUN/Downloads/True.csv")

In [3]:
df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df1.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df['class']=0
df1['class'] = 1

In [6]:
df.shape, df1.shape

((23481, 5), (21417, 5))

In [7]:
df_fake_manual_testing = df.tail(10)
for i in range(23480, 23470,-1):
    df.drop([i], axis = 0, inplace = True)
    
    
df_true_manual_testing = df1.tail(10)
for i in range(21416, 21406,-1):
    df1.drop([i], axis = 0, inplace = True)

In [8]:
df.shape, df1.shape

((23471, 5), (21407, 5))

In [9]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 0

C:\Users\ARUN\AppData\Local\Temp\ipykernel_14248\2849000168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing['class'] = 0
C:\Users\ARUN\AppData\Local\Temp\ipykernel_14248\2849000168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class'] = 0

In [10]:
df_fake_manual_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [11]:
df_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",0
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",0
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",0
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",0
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",0

In [12]:
data_merge = pd.concat([df,df1], axis = 0)
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [13]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
data = data_merge.drop(['title','subject','date'], axis = 1)
data.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [15]:
data = data.sample(frac=1)
data.head()

                                                    text  class
15366  Newly released financial disclosures reveal Bi...      0
21388  LONDON (Reuters) - Britain on Wednesday outlin...      1
14843  You will not believe this whopper! Hillary Cli...      0
21046  The Democrats will stop at nothing to win this...      0
17711  President Trump isn t sitting around waiting f...      0

In [16]:
data.reset_index(inplace=True)
data.drop(['index'],axis = 1, inplace=True)

In [17]:
data.head()

                                                text  class
0  Newly released financial disclosures reveal Bi...      0
1  LONDON (Reuters) - Britain on Wednesday outlin...      1
2  You will not believe this whopper! Hillary Cli...      0
3  The Democrats will stop at nothing to win this...      0
4  President Trump isn t sitting around waiting f...      0

In [18]:
def wordopt(text):
    text = str(text).lower()
    text = re.sub(r'\[.*?\]', '', text)  
    text = re.sub(r'\\W', ' ', text) 
    text = re.sub('https?://\S+|www\.\S+','',text)
    text = re.sub('<.&?>+','',text)
    text = re.sub('[%s]' % re.escape(string.punctuation),'',text)
    text = re.sub("\n"," ",text)
    text = re.sub('\w*\d\w*','',text)
    return text

In [19]:
data['text'] = data['text'].apply(wordopt)

In [20]:
x = data['text']
y = data['class']

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25)

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()
xc_train = vect.fit_transform(x_train)
xv_test = vect.transform(x_test)

In [23]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(xc_train, y_train)

pred_lr = LR.predict(xv_test)
LR.score(xv_test, y_test)

0.9851158645276292

In [24]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5930
           1       0.98      0.99      0.98      5290

    accuracy                           0.99     11220
   macro avg       0.98      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [25]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xc_train, y_train)

pred_dt = DT.predict(xv_test)
DT.score(xv_test, y_test)

0.996078431372549

In [26]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5930
           1       1.00      1.00      1.00      5290

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
GB = GradientBoostingClassifier()
GB.fit(xc_train, y_train)

pred_dt = GB.predict(xv_test)
GB.score(xv_test, y_test)

0.9958110516934047

In [28]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5930
           1       0.99      1.00      1.00      5290

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [29]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier()
RF.fit(xc_train, y_train)

pred_dt = RF.predict(xv_test)
RF.score(xv_test, y_test)

0.9868092691622103

In [30]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5930
           1       0.99      0.98      0.99      5290

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [36]:
def output_label(n):
    if n == 0:
        return 'Fake News'
    elif n == 1:
        return 'not A Fake news'
    
def manual_testing(news):
    testing_news = {'text':[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test['text'] = new_def_test['text'].apply(wordopt)
    new_x_test = new_def_test['text']
    new_xv_test  =vect.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    
    return print("\n\nLR prediction : {}\nGBC Prediction: {} \nRF Prediction: {}".format(output_label(pred_LR[0]),output_label(pred_GBC[0]),output_label(pred_RF[0])))

In [39]:
news = str(input())
manual_testing(news)

LR prediction : not A Fake news
GBC Prediction: Fake News
RF Prediction: not A Fake news

In [ ]:

The Congress on Wednesday claimed that there had been no “marked improvement” in Manipur and accused Prime Minister Narendra Modi of being “silent on the situation and abandoning the people of the State”.

In a statement, Congress general secretary (communications) Jairam Ramesh said Manipur coming to such a situation just after 15 months since the BJP was elected to power was a “most damning indictment of its policies and the Prime Minister’s priorities”.